#timeline-item {
    margin: 45px 5px;
    font-size: 24px;
}

#timeline {
    margin-right: 90px;
}

#table {
    margin-top: 45px;
    font-size: 15px;
}

.ant-timeline-item-tail {
    height: 100px !important;
}

.ant-timeline-item-head{
    margin-top: 6px !important;
}
